<footer class="sm:flex" fxLayout.xs="column">
    <div id="company-info">
        <h3>COMPANY INFO</h3>
        <a routerLink="/about-sa">About Us</a><br>
        <a href="">Mission</a><br>
        <!-- <a href="">Vision</a> -->
        <a routerLink="/how-it-works">How it works</a><br>
        <!-- <a href="">Career</a> -->
        <a href="">Privacy Policy</a><br>
        <a href="">Terms of Use</a>
    </div>
    <div id="company-social">
        <h3>SOCIAL</h3>
        <img [src]="logoImg" alt="solid_agents-logo">
        <span style="display: block;max-width: 50%;">
            <a href="">Facebook</a><br>
            <a href="">Twitter</a><br>
            <a href="">Instagram</a>
        </span>
    </div>
    <div id="company-statement">
        <p>
            Solid Agents exists to minimize and where possible eliminate the confusing frustration people experience
            when getting a new house, relocating to a new property, building a new house while far away and managing
            properties in the most efficient and sincere manner. Serving humanity is at the core of our values and we
            are fully committed to delivering without fail.
        </p>
        <p>
            We hate lies, we hate greed and every form of insincerity is highly abhorred at Solid Agents. For us, being
            a property agent is not an invitation to complicate matters and make buyers/sellers part with their money in
            order to satisfy the greed of agency.
        </p>
    </div>
    <section>
        <h3>CONTACT US:</h3>
        Email: solidagents@gmail.com
        <h4>Abuja OFFICE</h4>
        God is Able Ventures, Along Karshi Road Kurudu, FCT Abuja. <br>
        Tel: 08173879741
        <h4>ENUGU OFFICE</h4>
        Opp. 2nd Ogechi Bustop Ugwuaji, Enugu State. <br>
        Tel: 07053550556, 08140265754
    </section>
</footer>

