<main id="main">
    <section class="py-6 bg-yellow-600 min-h-[12rem] bg-left-bottom bg-contain" id="search-area">
        <div class="bg-gradient-to-t from-gray-200 via-white to-transparent">
            <form (ngSubmit) = "search()" [formGroup]="searchQuery">
                <div class="w-4/5 m-auto block">
                    <input type="text" formControlName="query" placeholder="Search properties" name="query"
                        class="w-full py-2 px-6 border-2 border-gray-300 rounded-full focus:border-green-500 outline-none">
                </div>
                <div class="flex justify-center bg-white flex-wrap gap-2 p-4 my-4">
                    <p-dropdown formControlName="state" class="" (onChange)="getLgas()" [options]="states" placeholder="Select a State" [showClear]="true">
                    </p-dropdown>
                    <p-dropdown formControlName="lga" class="" [options]="lgas" placeholder="Select LGA"  [showClear]="true">
                    </p-dropdown>
                    <span class="p-float-label">
                        <input id="float-input" name="town" formControlName="town" type="text" pInputText class="w-full mt-4">
                        <label for="float-input">Town or Community</label>
                    </span>
                </div>
                <div class="center">
                    <p-button label="Search" type="submit" class=""></p-button>
                </div>
            </form>
        </div>
    </section>
    <article class="mt-24">
        <div class="mat-headline text-center bg-gradient-to-r from-white via-green-100 py-2 to-white">
            Genuine Properties for Sale/Lease
        </div>
    <app-loading *ngIf="!properties"></app-loading>
    <div class="flex w-full flex-wrap px-[0.3rem]">
        <div *ngFor="let property of properties" class="w-1/2 sm:w-1/3 md:w-1/4 bg-red-50 p-[0.1rem]">
            <mat-card class="relative min-h-[10rem] bg-no-repeat bg-right-top rounded-b-lg" id="property-title">
                <mat-card-header class="center">
                    <mat-card-title class="h-[1.4rem] overflow-hidden text-green-900 text-xs" >
                        <a
                            [routerLink]="['/properties',property.type,property.id,property.title.split(' ').join('-')]" 
                            class="whitespace-nowrap">
                            {{getPropertyTitle(property.title)}}</a>
                    </mat-card-title>
                </mat-card-header>
                <div style="height: 35vh;overflow: hidden;" class="center">
                    <img mat-card-image [src]="getPropertyImg(property)">
                </div>
                <mat-card-content class="absolute left-0 bottom-0 bg-gray-50 w-full pt-2 rounded-b-xl">
                    <div class="center flex-col">
                       <span class=" text-gray-500 font-black">
                           {{property.price| currency: "₦"}}.00 
                           {{property.deal.toLowerCase()=="for rent"? "(per annum)": ""}}</span>
                       <span class="text-xs sm:text-sm md:text-md -mb-2">
                           {{property.town + ", "+ property.state}} state.
                       </span>
                    </div>
                    <div class="flex justify-between px-1 py-1 md:py-2">
                        <div class="relative py-2 pl-2 pr-5 text-xs overflow-hidden shadow-md" style="overflow: hidden;">21
                            <mat-icon class="absolute text-xs pl-1">favorite_border</mat-icon>
                        </div>
                        <div class="text-xs text-green-700 p-2 bg-green-50" style="overflow: hidden;">{{property.deal.replace('_',
                            ' ')}} </div>
                        <div class="relative py-2 pl-2 pr-5 text-xs overflow-hidden shadow-md" style="overflow: hidden;">{{property.views}}<mat-icon
                                class="absolute pl-1 text-xs">remove_red_eye</mat-icon> </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <section class="bg-green-600 min-h-[24rem] bg-fixed my-36 relative flex-col sm:flex-row flex bg-cover bg-left-top" id="got-property">
        <div class="w-full sm:w-2/3">
            <div class="w-40 bg-purple-800 absolute left-0 z-0 h-[100%] mix-blend-overlay sepia">
                
            </div>
            <div class="mt-24 px-4 z-50 relative">
                <span class="text-white bg-gradient-to-r from-purple-800 to-gray-600 w-96 px-4 py-2 font-bold " >
                You have property? 
            </span>
            <h2 class=" text-yellow-500 p-4">
                <span class="text-6xl" style="text-shadow: 2px 2px 2px white;">
                    Let get you a Deal
                </span> 
            </h2>
            </div>
            
        </div>
        <div class="bg-gradient-to-tr from-gray-50 to-green-50 sm:bg-white py-10 w-full sm:w-1/3 border font-bold center flex-col bg-opacity-0" id="call-to-sag">
            <a routerLink = "/sagit" class="ring ring-green-700 ring-offset-2 hover:bg-yellow-800 hover:text-gray-50 bg-green-600 p-4 rounded-full text-white">List Your Property</a>
            <div class="mt-9 static sm:absolute bottom-1 p-3">
                <a routerLink="/request_call" class="p-3 shadow-xl border text-yellow-700">Request a call</a>
            </div>
        </div>
    </section>
    <section class="w-full bg-green-800 py-4 mb-24">
        <h3 class="text-center text-white font-bold"> <span class=" text-3xl">Property Requests</span> </h3>
        <div class="text-center w-11/12 md:w-4/5 p-3 m-auto bg-white text-gray-700 rounded-t-xl">
            <span>
            The following properties are needed at the various specified location. If you have any, please contact the client.
        </span>
        </div>
        
        <div class="bg-gray-50 p-2 md:p-4 rounded-md md:rounded-3xl grid-cols-2 grid md:grid-cols-3 lg:grid-cols-5 gap-4">
            <ng-container *ngIf="propertyRequests.length">
                <div class="" *ngFor="let request of propertyRequests">
                    <a [routerLink]="['/property_requests',request.type,request.id,request.deal.split(' ').join('-')]">
                        <div
                            class="p-2 bg-gray-50 mb-2 rounded-md md:rounded-xl shadow-md w-[96%] text-xs">
                            <h3 class="text-center mb-0 border">
                                {{request.type + " for "+ request.deal}}
                                <span class="block font-semibold text-xs">
                                    {{request.description}}
                                </span>
                            </h3>
                            <div class="-mt-4 bg-gradient-to-r from-white via-green-50 to-white h-2"></div>
                            <p>
                                {{request.town +', '+ request.lga + ', '+request.state}} state
                            </p>
                            <div>
                                <span class="bg-gray-200 p-1">Budget:</span> <span class="float-right"><strong>below
                                        ₦{{(request.highest_price/1000)}}k</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>
            <div *ngIf="!propertyRequests.length">
                <app-loading></app-loading>
            </div>
        </div>
    </section>
    </article>
</main>