<main id="main">
    <div>
        <div class="mat-headline">Genuine Properties for Sale/Lease</div>
    <app-loading *ngIf="!properties"></app-loading>
    <div class="flex w-full flex-wrap" fxLayout fxLayout.xs="column">
        <div *ngFor="let property of properties" class="w-1/2 sm:w-1/3 md:w-1/4 bg-red-500">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <a
                            [routerLink]="['/properties',property.type,property.id,property.title.split(' ').join('-')]">{{property.title}}</a>
                    </mat-card-title>
                </mat-card-header>
                <div style="max-height: 35vh;overflow: hidden;">
                    <img mat-card-image [src]="getPropertyImg(property)">
                </div>
                <mat-card-content>
                    <p>{{property.desc}}</p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-raised-button>Like <mat-icon>favorite_border</mat-icon> </button>
                    <button mat-raised-button>Share <mat-icon>share</mat-icon> </button>
                    <button mat-raised-button>View <mat-icon>remove_red_eye</mat-icon> </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    </div>
    
</main>