<mat-toolbar id="toolbar">
    <div class="sm:hidden">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="text-white">menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink=""><img src="../../assets/images/navicon.png" alt=""> Solid Agents</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs class="hidden sm:flex justify-end w-full">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items flex gap-1">
            <li>
                <a routerLink="/sagit" routerLinkActive="active-link">Sag It</a>
            </li>
            <li>
                <a routerLink="/request_property" routerLinkActive="active-link">Request Property</a>
            </li>
            <li>
                <a routerLink="/request_call" routerLinkActive="active-link">Call Me</a>
            </li>
            <li [matMenuTriggerFor]="menu" style="position: relative;">
                <a>
                    {{status? getUser().first_name : "User"}}
                    <mat-icon style="display: inline-block;position: relative;top:6px">keyboard_arrow_down</mat-icon>
                </a>
            </li>
            <mat-menu #menu="matMenu" xPosition="after" class="mat-menu">
                <a *ngIf="!status" routerLink="/login"><button mat-menu-item>Login</button></a>
                <a *ngIf="!status" routerLink="/signup"><button mat-menu-item>Register</button></a>
                <a *ngIf="status" routerLink="/user-area"><button mat-menu-item>User Area</button></a>
                <span *ngIf="status" (click)="endSession()"><button mat-menu-item>Logout</button></span>
            </mat-menu>
        </ul>
    </div>
</mat-toolbar>
