<section class="p-8">
    <p-confirmPopup></p-confirmPopup>
    <div class="center">
        <img [src]="user.dp_link" alt="user profile image" style="max-width: 100px;">
    </div>
    <div class=" my-6">
        <p class="text-center p-4 bg-gradient-to-r from-green-50 via-green-100 to-green-50">
            Welcome <strong>{{user.first_name + ' ' + user.last_name}}</strong> 
        </p>
    </div>
    <div class="">
            <p class="text-xl text-center border-b border-green-200">
                {{user.tel}}
            </p>
            <span class="block text-sm mb-2 -mt-2">Tel:</span>
    </div>
    <div class="">
            <p class="text-xl text-center border-b border-green-200">
                {{user.email}}
            </p>
            <span class="block text-sm mb-2 -mt-2">Email:</span>
    </div>
    <div class="">
            <p class="text-xl text-center border-b border-green-200">
                {{(user.dob | date) || 'Not Available'}}
            </p>
            <span class="block text-sm mb-2 -mt-2">Date of Birth:</span>
    </div>
    <div class="">
            <p class="text-xl text-center border-b border-green-200">
                {{(user.created_at | date) || 'Not Available'}}
            </p>
            <span class="block text-sm mb-2 -mt-2">Date Joined:</span>
    </div>
</section>
