<div id="main">
    <article class="p-4">
        <div class="mat-headline text-center">About Solid Agents</div>
        <p class="first-letter:text-4xl">
            Solid Agents is a Property Management Company established out of a burden to ease your pain in acquiring and
            managing properties. This will be accomplished through our commitment to simplifying the process of renting
            and acquisition of properties.
        </p>
        <p>
            Our dedication to simplicity and sincerity is the greatest edge we got in this business. While we want to
            serve you beyond your expectation, we will gladly let you know when what your are asking for is beyond our
            ability because we are more concerned about proper utilization of your precious time and resources than we
            are concerned about projecting a false image of ourselves in order to impress anyone.
        </p>
        <p>
            Solid Agents exists to minimize and where possible eliminate the confusing frustration people experience
            when getting a new house, relocating to a new property, building a new house while far away and managing
            properties in the most efficient and sincere manner. Serving humanity is at the core of our values and we
            are fully committed to delivering without fail.
        </p>
        <p>
            We hate lies, we hate greed and every form of insincerity is highly abhorred at Solid Agents. For us, being
            an property agent is not an invitation to complicate matters and make buyers/sellers part with their money
            in order to satisfy the greed of agency.
        </p>
    </article>
    <aside>
        Latest and related
    </aside>
</div>