/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "assets/css_variables";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  @media only screen and (max-width: 480px) {
    table {
      width: auto;
      overflow: auto;
    }
    footer {
      section {
        min-width: 20%;
        @include gradient-border($direction: to right);
        border-top-width: 4px;
      }
    }
  }
  @media only screen and (min-width: 480px) {
  }
  @media only screen and (min-width: 768px) {
    footer {
      section {
        min-width: 20%;
        @include gradient-border();
        border-left-width: 4px;
      }
    }
  }
  @media only screen and (min-width: 992px) {
  }
  @media only screen and (min-width: 1200px) {
  }
}
